<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
  </head>
  <body>
    <form action="/send_message" method="post">
      <p>
        <label for="message">Имя</label>
        <input type="text" name="name" />
      </p>
      <p>
        <label for="message">Эмаил</label>
        <input type="text" name="email" />
      </p>
      <p>
        <label for="message">Сообщение</label>
        <input type="text" name="message" />
      </p>
      <p>
        <input type="submit" />
      </p>
    </form>
  </body>
</html>
